@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
  }
  
  :root{
    /* NAV VARIABLES */
  
    --color-1:#0f1016;
    --text-color:#f0f0f0;
    --accent-color:#006aff;
    --back-color:#DBEAFF;
    --btn-color:#007bff;
  
    /* DESKTOP VARIABLEA */
  
    --Gray1:#F1F1F1;
    --gray2:#F3F3F3;
    --gray3:#F4F4F4;
    --blue:#1F3E97;
    --Deep-Blue: #18378F;
    --red:#EA1C0F;
    --Gray-Text:#858585;
    --Yellow:#FFB500;
    --cart-yellow:#FFB800;
    --green1:#06A73D;
    --green2:#07892F;
    --white:#FFFFFF;
  
    /* MOBILE VARIABLES */
  
    --Gray-mobile:#F7F6FE;
    --White-mobile: #FEFEFE;
    --Light-Blue: linear gradient (to right, #EBF5FE, #F6FAFF);
  }
  
  html{
    font-size: 12pt;
    font-family: inter;
    background-color: var(--white);
  }
  
  /* NAVIGATION BAR */
  
  nav{
    padding: 5px 0;
    transition: all 1s;
    background-color: var(--back-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgb(198, 190, 190);
    background-color: var(--white);
    width: 100%;
    position:fixed;
    z-index: 2;
  }
  
  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  nav a{
    height: 100%;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none;
    color: var(--color-1);  
    transition: all .5s;          
  }
  
  nav a:hover{
    background-color: var(--accent-color);
    color: var(--white);
  }
  
  nav .home-link{
    margin: 10px;
    margin-right:auto;
    cursor: pointer;
    display: block;
    visibility: hidden;
  }
  
  nav .home-links{
    visibility:visible ;
  }
  
  nav svg{
    fill: var(--color-1);
  }
  .van-logo:hover{
    background-color: var(--back-color);
  }
  .vectors:hover{
    background-color: var(--blue);
    z-index: 1;
  }
  .vectors-cart:hover{
    background-color: var(--blue);
    z-index: 1;
  }
  .commenting{
    font-size: 30px;
    color:var(--blue);
  }
  #sidebar-active{
    display: none;
  }
  
    .open-sidebar-botton, .close-sidebar-botton{
    display: none;
  }
  
  .icon-div{
    display: flex;
    margin-right:auto ;
    gap: 20px;
    cursor: pointer;
  }
  .sign-up-btn{
    background-color: var(--blue);
    padding: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--white);
  }
  .sign-up-btn:hover{
    background-color: transparent;
    transition: all .5s;
    border: 1px solid;
    color: var(--blue);
  }
  .sign-in-btn:hover{
    background-color: var(--blue);
    transition: all .5s;
    border: 1px solid;
    color: var(--white);
  }
  .sign-in-btn{
    background-color: var(--white);
    padding: 5px;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
  }
  
  @media (max-width:700px) {
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 100%;
    background-color: var(--back-color);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-botton, .close-sidebar-botton{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    background-color: var(--gray2);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
  nav .home-link{
    visibility: visible;
  }
  
  .icon-div{
    flex-direction: column;
    margin: 20px;
  }
  .sign-btn{
    flex-direction: column;
    margin: 20px;
    display: flex;
    gap: 10px;
    margin-top: -10px;
  }
  }
  
  /* Search */
  .main-search-container{
    border: 1px solid var(--white);
    height: 90px;
    margin: 20px 0;
    margin-top: 0px;
    background-color: var(--white);
  }
  
  .search-container {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    border: 1px solid var(--gray3);
    border-radius: 40px;
    background-color: var(--gray3);
    position: relative;
    margin-top: 100px;
  }
  .glass{
    font-size: 30px;
    cursor: pointer;
  }
  .search-input {
    flex: 1; 
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: var(--Gray-Text);
    border-radius: 25px;
    outline: none;  
    background-color: var(--gray3);
  }
  
  @media (max-width: 800px) {
  .search-container {
    padding: 5px;
    max-width: 100%; 
    border-radius: 40px;
    padding: 10px ;
    width: 90%;
  }
  
  .search-input {
    border-radius: 10px 10px 0 0;
    width: 100%;
    margin-bottom: 5px;
  }
  }
  
  
  .bannerDisplay-container{
    padding: 30px 40px;
    margin-top: 100px;
    background-color: var(--gray2);
  }
  .inner-first-display{
    margin: 0 auto;
  }

  .text2{
    color: var(--Yellow);
    font-family: inter;
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
    margin-top: -20px;
  }
  .shopnow{
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    height: 35.12px;
    cursor: pointer;
    margin-top: 40px;
    width: 100px;
  }
  .text4{
    font-size: 6rem;
    font-weight: 400;
    font-family: Pacifico;
    color: var(--blue);
  }
  @media (max-width:450px) {
    .text4 {
    font-size: 4rem;
  
  }
  }
  
  .natural{
    font-weight: 400;
  }
  
  .text3{
    font-size: 1rem;
    font-weight: 400;
    font-family: inter;
    color: var(--color-1);
    line-height: 20px;
  }
  
  .inner-first-display{
    margin: 0 auto;
  }
  
  @media (max-width:800px) {
  .first-display{
    flex-direction: column;
  }
  
  .vantela1-logo{
    margin: 0 auto;
  }
  
  .text4{
    text-align: center;
  }
  
  .shopnow{
    font-size: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-top:40px ;
  }
  .shoe-btn{
    flex-direction: column;
  }
  .tim{
    position: relative;
  }
  .timberland{
    margin: 0 auto;
    margin-top: 0px;
    right: 60px;
    width: 100%;
  
  }
  .sign-btn{
    display: flex;
  }
  .sign-up-btn{
    width: 60px;
  }
  }
  .shoe-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .shopnow:hover{
    background-color: transparent;
    border: 1px solid #000;
    transition: .5s;
    color: var(--color-1);
    font-weight: 600;
  }
  .text1{
    text-align:left;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Neco', serif;
  }
  .popular-container{
    /* max-width: 80%; */
    width: 70%;
    margin: 30px auto;
    background-color: var(--gray3);
    border-radius: 40px;
    padding: 10px;
    margin-top: 100px;
  }
  .juniorseries{
    width: 100%;
    margin: 0 auto;
    width: 80%;
  }
/* SANDALS */

.mens-text{
    text-align:left;
    color: var(--blue);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Neco', serif;
    text-align: center;
  }
  .see-more-btn{
    background-color: var(--blue);
    padding: 5px 20px;
    font-size: 1.5rem;
    color: var(--white);
    font-family: inter;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    user-select: none;
  }
  
  .see-more-btn:hover{
    background-color: var(--back-color);
    border: 1px solid var(--color-1);
    transition: all .5s;
  }
  
  .seemore-div{
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }  

/* cards */
.main-container{
    width: 100%;
}
.shoe1{
display: flex;
justify-content: center;
overflow: hidden;
}

.shoe1 img{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shoe1 img:hover{
transform: scale(1.1);
}
.shoe2{
display: flex;
justify-content: center;
overflow: hidden;
margin-top: -15px;
}

.shoe2 img{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shoe2 img:hover{
transform: scale(1.1);
}

.shoe-container {
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
padding: 16px; 
padding: 20px;
}

.first-shoe-container1{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden;

}
.product-name{
list-style-type: none;
display: flex;
flex-direction: column;
}
.name{
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
margin: 10px;
margin-bottom: -10px;
}
.price{
font-weight: 400;
font-size: 0.9rem;
color: var(--color-1);
margin: 10px ;
font-family: Arial, Helvetica, sans-serif;
}

.rating{
margin: 10px;
margin-top: 10px;
font-family: Arial, Helvetica, sans-serif;
} 
#user-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* second container */
#display2{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.main-container{
    width: 100%;
}
.shoe1{
display: flex;
justify-content: center;
overflow: hidden;
}

.shoe1 img{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shoe1 img:hover{
transform: scale(1.1);
}

.shoe-container {
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
padding: 16px; 
padding: 20px;
}

.product-name{
list-style-type: none;
display: flex;
flex-direction: column;
}
.name{
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
margin: 10px;
margin-bottom: -10px;
}
.rating{
margin: 10px;
margin-top: 10px;
font-family: Arial, Helvetica, sans-serif;
} 
#user-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#display2{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}        
.up{
  background-color: var(--accent-color);
  height: 50px;
  width: 40px;
  font-size: 40px;
  display: grid;
  position: absolute;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.arr-container{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 450px;
  right: 0;
  z-index: 2;
}
.up:hover{
  background-color: darkgrey;
  transition: all .5s;
}
#spin{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: var(--accent-color);
  font-size: 20px;
}
.span-icon{
  margin: 7px;
}
#display3{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}     
#display4{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#display5{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#display6{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


/* sandals */
#user-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#display2{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}        

#display3{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}     
#display4{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#display5{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#display6{
display: flex;
justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dis-btn{
  position: absolute;
  margin-left: 120px;
  margin-top: 30px;
  background-color: var(--Yellow);
  border-radius: 20px;
  border: none;
  width: 70px;
  padding: 4px;
  font-size: 0.6rem;
  font-family: inter;
  font-weight: 600;
  z-index: 1;
}
/* PRODUCT DETAILS */

.main-container{
  width: 100%;
}
.shoe1-card{
display: flex;
justify-content: center;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
border-radius: 10px;
padding: 40px;
}

.shoe1-card img{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shoe1-card img:hover{
transform: scale(1.1);
}

.shoe-container {
display: fle;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
padding: 16px; 
padding: 20px;
}
.ratings{
margin: 10px;
margin-top: -10px;
font-family: Arial, Helvetica, sans-serif;
} 
#user-cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.product {
  margin: 20px;
  display: flex;
  gap: 30px;
}
@media (max-width:700px) {
  .product{
    flex-direction: column;
  }
  .size-txt{
    text-align: center;
  }
}
.add-to-cart-btn {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
  border-radius: 40px;
  width: 190px;
}
.add-to-cart-btn:hover {
  background-color:royalblue;
  border: 1px solid;
  color: white;
  transition: all .5s;
}
.buy-now-btns-carts{
  padding: 10px 20px;
  background-color: var(--blue);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 40px;
  width: 100%;
}
.buy-now-btns-carts:hover{
  background-color: white;
  border: 1px solid var(--blue);
  color: black;
  transition: all .5s;
}
@media (max-width:700px) {
  .remove-from-cart-btn{
    width: 45%;
    margin: 0 auto;
  }
  .add-to-cart-btn{
    margin: 0 auto;
  }
  .btns-carts{
    width: 45%;
    margin: 0 auto;
  }
  .carts-message{
    margin: 0 auto;
  }
}
.remove-from-cart-btn {
  background-color: #dc3545;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 40px;
}
.remove-from-cart-btn:hover {
  background-color: transparent;
  border: 1px solid #dc3545;
  color: black;
  transition: all .5s;
}
#shoe-details{
margin-top: 100px;
position: absolute;
padding: 20px 0;

}

nav .cart-mobile{
  margin: 10px;
  margin-right:auto;
  cursor: pointer;
  visibility: visible;
}


@media (max-width:700px) {
  nav .cart-mobile{
    visibility:visible ;
  }
  
  .cart-section{
    flex-direction: column;
  }
}
.cart-section{
display: flex;
gap:10px;
cursor: pointer;
margin-bottom: 20px;
margin-top: 20px;
}
.main-price{
font-size: 30px;
}
.product-details-name{
font-size: 30px;
}
.buttonSize {
padding: 10px 20px;
margin: 5px;
border: none;
cursor: pointer;
background-color: lightgray; 
}
.cancelled-price{
  margin: 10px;
  font-weight: 400;
font-size: 0.8rem;
color: var(--Gray-Text);
margin: 10px ;
text-decoration: line-through;
}
.cancelled-price-cart{
  font-size: 1rem;
  font-weight: 400;
  color: var(--Gray-Text);
  text-decoration: line-through;

}
.cancel-div{
  margin-top: 10px;
}
.description{
  margin: 20px;
}
.active {
color: #fff;
background-color: rgb(241, 143, 15);
}
.share-heart{
display: flex;
gap: 20px;
justify-content: end;
font-size: 30px;
}
.cart-icon {
  font-size: 20px;
  margin-right: 5px;
}
.cart-count {
  position: absolute;
  top: 2px;
  background-color: var(--cart-yellow);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  /* font-size: 12px; */
}

@media (max-width:700px) {
  .cart-count{
    position: absolute; 
  top: 570px; 
}
}

  footer{
    background-color: var(--blue);
  }
  
  .footer-logo{
    display: flex;
    justify-content: space-around;
  }
  
  .vantela-logo{
    margin-right: 40%;
    font-family: Pacifico;
    font-size: 3rem;
    font-weight: 400px;
    color: var(--white);
    margin-top: 40px;
  }
  
  .newsletter-input{
    background-color: var(--gray3);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 40px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-div{
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 40px;
    background-color: var(--gray3);
    width: 400px;
    margin-top: 40px;
  }
  .footer-div{
    display: flex;
    justify-content: space-around;
  }
  .footer-logo{
    display: flex;
    align-items: center;
  }
  .footer-text a{
    color: var(--gray3);
    font-family: inter;
    font-size: 0.8rem;
  }
  
  .footer-text{
    color: var(--white);
    font-family: inter;
    margin-top: 10px;
  }
  
  .footer-title{
    color: var(--white);
    font-family: inter;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 30px;
  }
  
  #forward{
    color: var(--blue);
    margin-left: 40%;
    right: 30px;
    position: absolute; 
    cursor: pointer;
  }
  #forward:hover{
    color: brown;
  }
  #icon{
    color: var(--white);
  }
  
  @media (max-width:768px) {
  .footer-logo{
    flex-direction: column;
    margin: 30px
  }
  .footer-div{
    flex-direction: column;
    margin: 30px;
  }
  }
  
  @media (max-width:450px) {
  .input-div{
    width: 300px;
  }
  }
  .copyright{
    text-align: center;
    background-color: var(--Deep-Blue);
    color: var(--white);
    font-size: 0.9rem;
    margin-top: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
/*CONTACT FORM  */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mynavbar{
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: flex-end;
  background-color: #F1F1F1;
}
.nav-container{
  display: flex;
  padding: 5px;
  font-weight: 400;
  text-decoration: none;

}

.mynavbar div {
  margin-right: 0.5rem;
}
.vertical-line {
  border-left: 2px solid rgb(154, 149, 149);
  height: 1.1rem;
}
.mynavbar a {
  text-decoration: none;
  color: gray;
  font-family: Inter;
  font-size: 0.75rem;
}

header {
  width: 78.2rem;
  height: 7.5rem;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

svg {
  width: 24px;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9rem;
  margin-top: 20px;
}
.header-container{
  width: 100%;
}
.logovanila{
  /* margin-top: 30px; */
  display: flex;
  align-items: center;
  margin: 50px ;
}
.heading {
  font-family: Inter;
  font-size: 2rem; 
  font-weight: 500;
  line-height: 2.4rem;
  color: rgba(70, 70, 70, 1);
  margin: 0px ;
  position: relative;
  left: 170px;
  width: 200px;
}


.input-fill {
  margin: 20px 0px 0px 167px;
  display: flex;
  gap: 1.9rem;
}
.email-input{
}
#fullname{
  width: 250px;
  outline: none;
}
.asterisk {
  color: red;
  font-size: 0.7rem;
}

.input-con {
  width: 18.7rem;
  height: 2.4rem;
  background-color: rgba(241, 241, 241, 1);
  padding: 15px;
  font-size: 0.8rem;
  border-radius: 7px;
  border: none;
  outline: none;

}

.message {
  margin: 20px 0px 0px 167px;
}

.label-div {
  font-family: inter;
  font-size: 0.8rem;
  font-weight: 800;
  color: rgba(31, 62, 151, 1);
}
.email-input{
  width: 250px;
}

.message textarea {
  margin-bottom: 10px;
  width: 510px;
  height: 10rem;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: rgba(241, 241, 241, 1);
  font-family: Inter;
  font-size: 0.8rem;
  resize: none;
  outline: none;

}

.security-code {
  margin: 1.2rem 0 0.8rem 11rem;
  font-size: 0.8rem;
}

#security {
  margin: 10px 0px 12px 167px;
  width: 7.5rem;
  height: 50px;
  /* border: 15px solid rgba(241, 241, 241, 1); */
  background-color: white;
}

#security {
  background-color: rgba(241, 241, 241, 1);
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  padding: 1rem;
  width: 9rem;
}

.empty {
  margin: 0.6rem 0 1.9rem 10rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: 900;
  color: black;
  padding: 1rem;
  width: 9rem;
}

.submit-btn {
  color: white;
  background-color: rgba(31, 62, 151, 1);
  border-radius: 5px;
  border: none;
  padding: 10px 13px 10px 13px;
  font-size: 0.8rem;
  font-weight: 600;
}


footer{
  background-color: var(--blue);
}

.footer-logo{
  display: flex;
  justify-content: space-around;
}

.vantela-logo{
  margin-right: 40%;
  font-family: Pacifico;
  font-size: 3rem;
  font-weight: 400px;
  color: var(--white);
  margin-top: 40px;
}

.newsletter-input{
  background-color: var(--gray3);
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 40px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-div{
  align-items: center;
  display: flex;
  position: relative;
  border-radius: 40px;
  background-color: var(--gray3);
  width: 400px;
  margin-top: 40px;
}
.footer-div{
  display: flex;
  justify-content: space-around;
}
.footer-logo{
  display: flex;
  align-items: center;
}
.footer-text a{
  color: var(--gray3);
  font-family: inter;
  font-size: 0.8rem;
}

.footer-text{
  color: var(--white);
  font-family: inter;
  margin-top: 10px;
}

.footer-title{
  color: var(--white);
  font-family: inter;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 30px;
}

#forward{
  color: var(--blue);
  margin-left: 40%;
  right: 30px;
  position: absolute; 
  cursor: pointer;
}
#forward:hover{
  color: brown;
}
#icon{
  color: var(--white);
}

@media (max-width:768px) {
.footer-logo{
  flex-direction: column;
  margin: 30px
}
.footer-div{
  flex-direction: column;
  margin: 30px;
}
}

@media (max-width:450px) {
.input-div{
  width: 300px;
}
}
.copyright{
  text-align: center;
  background-color: var(--Deep-Blue);
  color: var(--white);
  font-size: 0.9rem;
  margin-top: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}  


/* MEDIA QUERY */
/*For screens between 319-480px*/
@media(max-width: 700px) {
  .mynavbar {
    display: none;
  }
  .menu-icon {
    display: block;
    position: relative;
  }

  svg {
    width: 24px;
  }
  #dropdown {
    display: none;
    background-color: #f6f6f6;
    min-width: 200px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  #fullname{
    width: 360px;
  }
  #dropdown.show {
    display: block;
  }

  .heading {
    font-size: 2rem; 
    position: relative;
    left: 50px;
  }
  .header-icons {
    display: none;
  }
  .input-con {
    width: 23rem;
    height: 4.4rem;
    background-color: rgba(241, 241, 241, 1);
    padding: 15px;
    font-size: 0.8rem;
    border-radius: 7px;
    border: none;
    
  }
 
  .input-fill {
    margin: 20px 0px 0px 10px;
    display: block;
    flex-direction: column;
  }

#message{
  width: 100%;
  outline: none;
}
  .security-code {
    margin: 1.2rem 0 0.8rem 1rem;
    font-size: 0.8rem;
    font-family: inter;
  }
  .message {
    width: 60%;
  }
  h3 {
    margin: 2rem 0 1rem 0;
  }

  #security {
    margin: 10px 0px 12px 16px;
    width: 23rem;
    height: 50px;
    background-color: white;
    border: 1rem 2rem 3rem 4rem;
    border-left-width: 15rem solid black;
    border: 15px solid rgba(241, 241, 241, 1);
  }
  .empty {
    margin: 0.6rem 0 1.9rem 1rem;
    width: 50%;
  }

 

@media(max-width: 700px) {
  .mynavbar {
    background: rgba(241, 241, 241, 1);
    width: 100%;
    height: 2.7rem;
    padding-top: 0.8rem;
    border: 1px solid;
  }
  .nav-container {
    padding-right: 7rem;
  }
  header {
    width: 100%;
  }

  .input-fill {
    margin: 20px 0px 0px 50px;
    display: flex;
  }
  .message textarea {
    margin-bottom: 10px;
    width: 39.3rem;
    height: 10rem;
    font-family: inter;
  }

  .submit-btn {
    color: white;
    background-color: rgba(31, 62, 151, 1);
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    width: 10rem;
    height: 4rem;
  }
  .empty {
    margin: 0.6rem 0 1.9rem 3rem;
    width: 12.5rem;
    height: 4rem;
  }

  .security-code {
    margin: 1.2rem 0 0.8rem 3rem;
    font-size: 0.8rem;
    font-family: Inter;
  }
  .message {
    margin: 20px 0px 0px 50px;
  }
  h3 {
    margin: 2rem 0 1rem 0;
  }

  #security {
    margin: 10px 0px 12px 50px;
    width: 23rem;
    height: 50px;
    background-color: white;
    border: 1rem 2rem 3rem 4rem;
    border-left-width: 15rem solid black;
    border: 15px solid rgba(241, 241, 241, 1);
  }
}

}
